/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
header,
footer,
section,
main {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

#edition {
	font-family: 'Work Sans';
	font-size: 14px;

}


header {
	display: flex;
	justify-content: space-between;
	margin: 50px;



}

section {
	margin: 50px 0;


}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filters {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 30px;
	margin-top: 45px;
	margin-bottom: 45px;
}

.filters button {
	width: auto;
	height: 37px;
	margin-right: 10px;
	border-radius: 60px;
	border: 1px solid #1D6154;
	padding: 0 20px;
	color: #1D6154;
	background-color: transparent;
	font-family: 'Syne';
	cursor: pointer;

}

.filters button:hover {
	background-color: #1D6154;
	color: white;
}

/*login*/

body {
	background-color: rgba(255, 254, 248, 255);
}

#logout {
	display: none;
}

#login {
	display: block
}

#connexion {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 450px;
	margin-top: 100px;

}

#connexion h2 {
	margin-bottom: 20px;
}

#connexion form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.connexionForm {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
}

#connexion button {
	margin-top: 25px;
}

#email,
#password {
	width: 300px;
	height: 40px;
	box-shadow: 0px 0px 15px rgba(244, 243, 237, 255);
	border-width: 0px;

}

#connexion label {
	font-family: 'Syne';
	font-size: 0.9em;
	color: rgba(0, 0, 0, 0.756);
	margin-bottom: 5px;

}

#submitUserInfo {
	background-color: #1D6154;
	border-radius: 60px;
	border-width: 0px;
	color: white;
	cursor: pointer;
	font-family: 'Syne';
	font-size: 0.9em;
	margin-top: 30px;
	padding: 7px 25px 7px 25px;
	text-align: center;
	width: 150px;
}

#connexion a {
	margin-top: 5px;
	font-size: 0.9em;
	text-decoration: underline;
}

#edition {
	display: flex;
	justify-content: center;
	background-color: black;
	color: white;
	padding: 1em;
	gap: 1em;


}




/* Modal */

.modifier {
	display: flex;
	position: absolute;
	right: 27rem;
	bottom: -1rem;
	cursor: pointer;

}

#pen {
	margin-right: 0.5rem;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.30);
	display: none;


}

.modal-content {
	background-color: #fff;
	overflow: hidden;
	border-radius: 10px;

}


.close {
	display: flex;
	justify-content: end;
}

.close-deleted,
.close-add {
	cursor: pointer;
	font-size: 24px;
	margin-top: 26px;
	margin-right: 30px;

}

.title-modal {
	text-align: center;
	color: #000;
	font-family: "work sans";
	font-size: 26px;
	font-weight: 400;
	margin-top: 10px;
}

.fa-trash-alt {
	color: white;
	position: relative;
	top: -102px;
	left: 45px;
	background: black;
	width: 15px;
	height: 12px;
	display: flex;
	justify-content: center;
	font-size: 10px;
	padding-top: 1px;
	cursor: pointer;

}

.gallery-list {


	border-bottom: 1px solid #b3b3b3;
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 5px;
}

.gallery-list img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.add-photo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px;
	margin-right: auto;
	margin-left: auto;
	border: none;
	width: 237px;
	height: 36px;
	border-radius: 60px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	cursor: pointer;
}

.modal-img {
	width: 78px;
	height: 104px;
	object-fit: cover;
}

.cute-gallery {
	position: relative;
}


.modal-add,
.modal-deleted {
	display: flex;
	flex-direction: column;
	width: 42%;
	height: auto;

}




.return-and-close {
	display: flex;
	justify-content: space-between;
}

.return {
	margin-top: 26px;
	margin-left: 30px;
	font-size: 24px;
	cursor: pointer;
}

.form-photo {
	display: flex;
	flex-direction: column;
	margin: 0 55px;

}

.add-new-photo {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e8f1f6;
	width: 420px;
	height: 169px;
	margin-top: 36px;
	margin-bottom: 9px;
}

.content-add-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.picture {
	font-size: 76px;
	color: #b9c5cc;
}

.btn-add-new-photo {
	background-color: #b9c5cc;
	color: #306685;
	padding: 10px 33px;
	margin-top: 6px;
	border-radius: 50px;
	cursor: pointer;
	transition: transform;
}

.btn-add-new-photo:hover {
	transform: scale(1.1);
}

#file {
	visibility: hidden;
}

.type-file {
	font-size: 10px;
	color: #444;
	margin-bottom: 6px;
	margin-top: -13px;
}

.title-categorie {
	color: #3D3D3D;
	margin-top: 10px;
	padding-bottom: 30px;
	border-bottom: 1px solid #b3b3b3;
}

#title-photo,
#categorie-photo {
	width: 100%;
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	margin-top: 10px;
	font-size: 1.2rem;
	color: #444444;
}

#title-photo {
	margin-bottom: 10px;
}



#btn-valid {
	width: 237px;
	height: 36px;
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}

.hidden {
	display: none;
}

.preview img {
	width: 30%;
	height: auto;
	margin-left: 36%;

}